[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
bowler = "*"
black = "*"
pre-commit = "*"

[packages]
requests = "*"
beautifulsoup4 = "*"
html2markdown = "*"
requests-cache = "*"
lxml = "*"

[requires]
python_version = "3.7"
